:root {
  --borderColor: rgb(2, 2, 113);
} 

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(135, 162, 196);
  padding: 1rem;
}

select, input {
  background-color: transparent;
  border: none
}

h1 {
  color: black;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.button {
  margin: 5px;
  margin-left: 2rem;
  box-sizing: border-box;
}

.space {
  width: 2rem;
  height: 2rem;
}

.guessContainer {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.guessBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: grey;
  background-color: lightgrey;
  border-left: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
  height: 1.5rem;
  width: 3rem;
}

.letter {
  text-align: center;
  width: 1rem;
}

.resultBox {
  height: 1.2rem;
  width: 3rem;
  border-collapse: separate;
  border-left: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
}

.border {
  display: flex;
  flex-direction: row;
  border-top: 2px solid var(--borderColor);
  border-bottom: 2px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
  margin: 2px;
}